# package ignore
*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz

# maven ignore
target/
/**/target/

# eclipse ignore
*.classpath
*.project
*.settings/*
/**/*.classpath
/**/*.project
/**/*.settings/*
